:root{

    --pale-green: #61892F;
    --light-green: #86C232;

    --darker-grey: #181b1d;
    --dark-grey: #222629;
    --mid-grey: #474B4F;
    --light-grey: #6B6E70;
    --bg-color: #1c1d25;
}

$dark-grey: #222629;